NODE_ENV=development

POSTGRES_DB=romaworks
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/romaworks?schema=public

REDIS_HOST=redis
REDIS_PORT=6379

JWT_SECRET=changeme
JWT_EXPIRES_IN=1d

API_PORT=3000
WEB_PORT=4200